 nav {
    background-color: rgba(125, 253, 215, 0.8);
    height: 80px;
    width: 100vw;
    display: inline-block;
    position: fixed;
    z-index: 100;
}

li {
    list-style: none;
}

.homeNavigation {
    background-color: rgb(216, 215, 215);
    border: 2px solid #c5c5c5;
    box-shadow: 2px 2px #c5c5c5;
    border-bottom-right-radius: 20px;
    padding: 2px;
    color: #000;
    height: 100%;
    font-size: 3em;
    width: 30%;
    text-decoration: none;
}

.homeNavigation:hover {
    color: black;
    background-color: #aaaaaa;
    box-shadow: 1px 3px #8d8c8c;
}

 .navClass {
    display: inline-block;
    margin-right: 10px;
    border: 2px solid black;
    font-size: 20px;
    width: 7em;
    text-align: center;
    background-color: rgb(216, 215, 215);
}  

.rightNav {
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: 10px;
    height: 100%;
    
}

.rightNav a {
    color: #000;
    text-decoration: none;
    transform: scale(1.1);
}

.navClass:hover {
    background-color: #aaaaaa;
    color: black;
}